.view-trade-partner {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    text-align: left;
}

.view-trade-partner-edit {
    margin: 0.5rem;
}

.view-trade-partner-details {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.view-trade-partner-row {
    display: flex;
}

.view-trade-partner-column-label {
    color: gray;
}

.view-trade-partner-column-value {
    color: green;
    margin-left: 0.5rem;
}

.navigation-button {
    background: none;
    border: 1px solid orange;
    cursor: pointer;
    padding: 0.5rem;
    width: 100px;
}

.navigation-link, .navigation-link:visited {
    color: orange;
    text-decoration: none;
}
